*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {

  height: 100vh;
  font-size: 1.6rem;
  font-family: Helvetica, Arial,  sans-serif;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center{
  justify-content: center;
}
.grid-container{
  grid-template-areas: 'Header' 'Main' 'Footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

/********Header******/
.header{

  grid-area: Header;
  background-color: #203040;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
 
}
.header a{
  text-decoration: none;
  color: #ffffff;
  padding: 1rem;
}
.header a:hover{
  color: #ff8000;
}
.header .brand{
  font-size: 3rem;
  font-weight: bold;
}
/********Main******/
.main{
  grid-area: Main;
  padding: 1rem;
}
img{
  border-radius: 0.5rem;
}
img .medium {
  max-width: 29rem;
  width: 100%;
}
.main .card {
  border: 0.1rem #c0c0c0 solid;
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body{
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price{
  font-size: 2rem;
}
.main h2{
  font-size: 1.6rem;
  padding: 1rem 0;
}
/********Footer******/
.footer{
  grid-area: Footer;
  background-color: #203040;
  color:#ffffff;
  justify-content: center;
  
}
